/*---------- Sass Variabler ----------*/
$primary_black: #000000;
$primary_white: #ffffff;
$primary_dark_gray: #444444;
$primary_light_gray: #C4C4C4;
$primary_blue: #0040C1;
/*-----*/
/*---------- fonts ----------*/
$primary_font: "Abel", sans-serif;
$secondary_font: "Lora", serif;
/*-----*/
/*---------- general --------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

h1{
    color: $primary_blue;
    font-size: 28px;
    text-align: center;
    font: $secondary_font;
}

h2{
    color: $primary_blue;
    font-size: 20px;
    font: $primary_font;
}

h3{
    color: $primary_white;
    font-size: 20px;
    font: $primary_font;
}

p{
    color: $primary_white;
    font-size: 16px;
    font: $primary_font;
    line-height: 22px;
}

main{
    background-color: $primary_black;
}

.black_boks{
    border: 1px solid $primary_white;
    border-radius: 5px;
    background-color: $primary_black;
}

.white_boks{
    border: 1px solid $primary_black;
    border-radius: 5px;
    background-color: $primary_white;
}
//Vandret linje
.line_horizontal{
    height: 2px;
    background-color: $primary_light_gray;
    width: 80%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

//lodret linje
.line_vertically{
    height: 2px;
}

/*-----*/
/*---------- nav bar --------- */
header{
    background-color: #262626;
}

li{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}

.logo{
    width: 70px;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    display: flex;
    flex-direction: row-reverse;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.hamburger{
    display: block;
    cursor: pointer;
}

.hamburger.active .bar:nth-child(2){
    opacity: 0;
}
.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

.nav-menu{
    position: fixed;
    left: -100%;
    top: 70px;
    /*gap: 0;*/
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
}

.nav-item{
    margin: 16px 0;
}

.nav-menu.active{
    left: 0;
}


/*-----*/
/*---------- forside information --------- */

.cv_img{
    height: 60px;
    position: fixed;
    margin: 5px;
}

.h2_front_page{
    text-align: center;
    padding-top: 50px;
    color: $primary_white;
    
}

.h1_front_page{
    padding-top: 40px;
    padding-bottom: 40px;
}

.img_front_info{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.typed-text{
    text-transform: uppercase;
}

.cursor{
    display: inline-block;
    width: 2px;
    background-color: $primary_light_gray;
    margin-left: 0,1rem;
    animation: blink 1s infinite;
}

.cursor.typing {
    animation: none;
}

@keyframes blink{ // dette gør at cursoren blinker
    0% { background-color: $primary_light_gray;} //denne behøves ikke, men jeg beholder den for en god ordens skyld
    49% { background-color: $primary_light_gray;} //så transision ikke er så voldsom
    50% { background-color: transparent; }
    99% { background-color: transparent; } //så transision ikke er så voldsom
    100% { background-color: $primary_light_gray;} //denne behøves ikke, men jeg beholder den for en god ordens skyld
}

  
/*-----*/
/*---------- om mig - forside --------- */
.h2_about_me{
    color: $primary_blue;
    font-size: 24px;
    text-align: center;
    font: $secondary_font;
}

.col_left_about{
    padding: 20px;
}

.p_info{
    padding: 10px 0 10px 0;
}

.about_article{
    padding-top: 15px;
    padding-bottom: 10px;
}

.background_article{
    text-align: center;
    width: 265px;
    margin-right: auto;
    margin-left: auto;
}

.background_link{
    color: $primary_white;
    font-size: 16px;
    cursor: pointer;
    padding: 5px;
}

.qout{
    text-align: center;
}

.the_qout{
    font-size: 20px;
    font-weight: bold;
}
  
/*-----*/
/*---------- Baggrund - underside --------- */

.h1_background{
    padding-top: 30px;
    text-transform: uppercase;
}

.h2_bacground{
    text-align: center;
    color: $primary_white;
    padding-top: 40px;
}

.background_info_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.background_type{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px 0 15px 0;
}

.bacground_diploma, .background_year, .background_place{
    color: $primary_light_gray
}


/*-----*/
/*---------- Skills - forside --------- */

.h2_my_skills{
    text-align: center;
    padding-top: 16px;
    text-transform: uppercase;
}

.skills_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.h3_skills_part{
    padding: 10px 0 10px 0;
}

.skills_part{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 20px 0 15px 0;
}

/*-----*/
/*---------- kontakt - forside --------- */

.contact_me{
    background-color: $primary_light_gray;
    height: 200px;
}

.article_contact_me{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.h2_contact_me{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.p_contact_me{
    color: $primary_black;
    padding-bottom: 10px;
}

.contact_me_button{
    font-size: 16px;
    color: $primary_black;
    cursor: pointer;
    padding: 5px;
    width: 200px;
    margin-right: auto;
    margin-left: auto;

}
/*-----*/
/*---------- projekter - forside --------- */

/*-----*/
/*---------- anbefaling - forside --------- */

/*-----*/
/*---------- fotter --------- */



/* ----------------------------------------------------------------- */
/* ---------------------- mediaquery tablet ------------------------ */
@media screen and (min-width: 672px) and (max-width: 950px) {
    /* ------------------------------------------------- */



}

/* ----------------------------------------------------------------- */
/* ---------------------- mediaquery desktop ----------------------- */
@media screen and(min-width: 951px) {

    /*--Generalt---*/

    /*--Burgermenu---*/
    .nav-menu{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        gap: 60px;
        position: inherit;
        padding-left: 60%;
    }

    .navbar{
        display: flex;
        flex-direction: unset;
    }

    .nav-link{ /*Hover effect*/
        transition: 0.7s ease;
    }

    .nav-link:hover{ /*Hover effect*/
        color: blue;
    }

    .hamburger{
        display: none;
    }
/*---------- forside information --------- */
    .front_info {
        display: grid;
        grid-template-columns: 1.2fr 0.8fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:"col_left col_right";
        width: 100%;
        height: 100%;
    }
    .col_left { grid-area: col_left; }
    .col_right { grid-area: col_right; }
    /*---------- forside om mig --------- */
    .about_me {
        display: grid;
        grid-template-columns: 1.2fr 0.8fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "col_left_about col_right_about";
        width: 100%;
        height: 100%;
    }
    .col_left_about { grid-area: col_left_about; }
    .col_right_about { grid-area: col_right_about; }

    /*---------- Skills - forside --------- */
    .skills_wrapper{
        flex-direction: row;
    }

    .skills_part{
        width: 31%;
        
    }

}