/*---------- Sass Variabler ----------*/
/*-----*/
/*---------- fonts ----------*/
/*-----*/
/*---------- general --------- */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

h1 {
  color: #0040C1;
  font-size: 28px;
  text-align: center;
  font: "Lora", serif;
}

h2 {
  color: #0040C1;
  font-size: 20px;
  font: "Abel", sans-serif;
}

h3 {
  color: #ffffff;
  font-size: 20px;
  font: "Abel", sans-serif;
}

p {
  color: #ffffff;
  font-size: 16px;
  font: "Abel", sans-serif;
  line-height: 22px;
}

main {
  background-color: #000000;
}

.black_boks {
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: #000000;
}

.white_boks {
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #ffffff;
}

.line_horizontal {
  height: 2px;
  background-color: #C4C4C4;
  width: 80%;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

/*-----*/
/*---------- nav bar --------- */
header {
  background-color: #262626;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.logo {
  width: 70px;
}

.navbar {
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 24px;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.hamburger {
  display: block;
  cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}

.nav-menu {
  position: fixed;
  left: -100%;
  top: 70px;
  /*gap: 0;*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #262626;
  width: 100%;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-item {
  margin: 16px 0;
}

.nav-menu.active {
  left: 0;
}

.nav-link {
  font-size: 17px;
}

/*-----*/
/*---------- forside information --------- */
.cv_img {
  height: 60px;
  position: fixed;
  margin: 5px;
}

.h2_front_page {
  text-align: center;
  padding-top: 50px;
  color: #ffffff;
  font-size: 16px;
}

.col_left {
  padding-top: 8%;
}

.col_right {
  padding-top: 10%;
  padding-bottom: 25%;
}

.h1_front_page {
  padding-top: 40px;
  padding-bottom: 40px;
}

.img_front_info {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}

.typed-text {
  text-transform: uppercase;
}

.cursor {
  display: inline-block;
  width: 2px;
  background-color: #C4C4C4;
  margin-left: 0,1rem;
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
}

.cursor.typing {
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes blink {
  0% {
    background-color: #C4C4C4;
  }
  49% {
    background-color: #C4C4C4;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #C4C4C4;
  }
}

@keyframes blink {
  0% {
    background-color: #C4C4C4;
  }
  49% {
    background-color: #C4C4C4;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #C4C4C4;
  }
}

/*-----*/
/*---------- om mig - forside --------- */
.h2_about_me {
  color: #0040C1;
  font-size: 24px;
  text-align: center;
  font: "Lora", serif;
}

.col_left_about {
  padding: 10% 20px 10% 20px;
}

.p_info {
  padding: 10px 0 10px 0;
}

.about_article {
  padding-top: 15px;
  padding-bottom: 10px;
}

.background_article {
  text-align: center;
  width: 265px;
  padding: 10px 0 10px 0;
  margin: 10px auto 10px auto;
}

.background_link {
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  padding: 5px;
}

.qout {
  text-align: center;
}

.the_qout {
  font-size: 20px;
  font-weight: bold;
}

/*-----*/
/*---------- Baggrund - underside --------- */
.h1_background {
  padding-top: 30px;
  text-transform: uppercase;
}

.h2_bacground {
  text-align: center;
  color: #ffffff;
  padding-top: 40px;
}

.background_info_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.background_type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 20px 0 15px 0;
}

.bacground_diploma, .background_year, .background_place {
  color: #C4C4C4;
}

/*-----*/
/*---------- Skills - forside --------- */
.my_skills {
  padding: 10% 0 10% 0;
}

.h2_my_skills {
  text-align: center;
  padding-top: 16px;
  text-transform: uppercase;
}

.skills_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.h3_skills_part {
  padding: 10px 0 10px 0;
}

.skills_part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  padding: 20px 0 15px 0;
}

/*-----*/
/*---------- kontakt - forside --------- */
.contact_me {
  background-color: #C4C4C4;
  height: 200px;
}

.article_contact_me {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.h2_contact_me {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.p_contact_me {
  color: #000000;
  padding-bottom: 10px;
}

.contact_me_button {
  font-size: 16px;
  color: #000000;
  cursor: pointer;
  padding: 5px;
}

.contact_button {
  text-align: center;
}

/*-----*/
/*---------- projekter - forside --------- */
/*-----*/
/*---------- anbefaling - forside --------- */
/*-----*/
/*---------- fotter --------- */
/* ----------------------------------------------------------------- */
/* ---------------------- mediaquery tablet ------------------------ */
@media screen and (min-width: 672px) and (max-width: 950px) {
  /* ------------------------------------------------- */
  /*--Generalt---*/
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 23px;
  }
  h3 {
    font-size: 22px;
  }
  p {
    font-size: 18px;
  }
  /*--heder info ---*/
  .nav-link {
    font-size: 20px;
  }
  /*--om mig + mine skills---*/
  .h2_front_page {
    font-size: 18px;
  }
  .about_article, .my_skills {
    padding: 15px 30px 10px 30px;
  }
  .background_article {
    width: 310px;
    padding: 10px 0 10px 0;
  }
  .my_skills {
    padding: 10% 0 10% 0;
  }
  /*--kontakt mig---*/
  .contact_me {
    height: 170px;
    padding: 2% 0 2% 0;
  }
  .contact_button {
    padding-top: 10px;
  }
  .article_contact_me {
    width: 83%;
  }
}

/* ----------------------------------------------------------------- */
/* ---------------------- mediaquery ipad pro ----------------------- */
@media screen and (min-width: 951px) and (max-width: 1366px) {
  /*--Generalt---*/
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 20px;
  }
  /*--Burgermenu---*/
  .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 60px;
    position: inherit;
    padding-left: 52%;
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    font-size: 25px;
  }
  .nav-link {
    /*Hover effect*/
    -webkit-transition: 0.7s ease;
    transition: 0.7s ease;
    font-size: 20px;
  }
  .nav-link:hover {
    /*Hover effect*/
    color: blue;
  }
  .hamburger {
    display: none;
  }
  .logo {
    width: 80px;
  }
  .cv_img {
    height: 75px;
  }
  /*---------- forside information --------- */
  .front_info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.1fr 0.9fr;
        grid-template-columns: 1.1fr 0.9fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
        grid-template-areas: "col_left col_right";
    width: 100%;
    height: 100%;
  }
  .col_left {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: col_left;
    padding-top: 350px;
  }
  .col_right {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: col_right;
  }
  .h2_front_page {
    font-size: 20px;
  }
  .img_front_info {
    width: 90%;
    padding-top: 300px;
    padding-bottom: 600px;
  }
  /*---------- forside om mig --------- */
  .about_me {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.2fr 0.8fr;
        grid-template-columns: 1.2fr 0.8fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
        grid-template-areas: "col_left_about col_right_about";
    width: 100%;
    height: 100%;
    padding: 50px 0 50px 0;
  }
  .col_left_about {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: col_left_about;
    padding: 20px 40px 20px 70px;
  }
  .col_right_about {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: col_right_about;
  }
  .about_article {
    padding-top: 18px;
    padding-bottom: 13px;
  }
  .background_article {
    width: 315px;
    padding: 12px 0 12px 0;
  }
  .background_link {
    font-size: 20px;
  }
  /*---------- Skills - forside --------- */
  .my_skills {
    padding: 100px 70px 100px 70px;
  }
  .h2_my_skills {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .skills_wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .skills_part {
    width: 25%;
  }
  .h3_skills_part {
    text-align: center;
  }
  /*---------- kontakt - forside --------- */
  .article_contact_me {
    width: 85%;
  }
  .h2_contact_me {
    padding-top: 30px;
    padding-bottom: 15px;
  }
  .contact_button {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .contact_me_button {
    font-size: 17px;
    padding: 8px;
  }
  /*---------- Baggrund - underside --------- */
  .h1_background {
    padding-left: 13%;
  }
  .background_info_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 20px 0 20px;
  }
  .background_line {
    display: none;
  }
  .background_line_v {
    border-left: 2px solid #C4C4C4;
    border-right: 2px solid #C4C4C4;
    height: 750px;
    margin-top: 40px;
  }
}

/* ---------------------- mediaquery desktop ----------------------- */
@media screen and (min-width: 1367px) {
  /*--Generalt---*/
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 27px;
  }
  h3 {
    font-size: 26px;
  }
  p {
    font-size: 23px;
  }
  /*--Burgermenu---*/
  .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 60px;
    position: inherit;
    padding-left: 50%;
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    font-size: 27px;
  }
  .nav-link {
    /*Hover effect*/
    -webkit-transition: 0.7s ease;
    transition: 0.7s ease;
    font-size: 25px;
  }
  .nav-link:hover {
    /*Hover effect*/
    color: blue;
  }
  .hamburger {
    display: none;
  }
  .logo {
    width: 100px;
  }
  .cv_img {
    height: 100px;
  }
  /*---------- forside information --------- */
  .front_info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.2fr 0.8fr;
        grid-template-columns: 1.2fr 0.8fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
        grid-template-areas: "col_left col_right";
    width: 100%;
    height: 100%;
  }
  .col_left {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: col_left;
    padding-top: 400px;
  }
  .col_right {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: col_right;
  }
  .h2_front_page {
    font-size: 22px;
  }
  .img_front_info {
    width: 90%;
    padding-top: 300px;
    padding-bottom: 600px;
    padding-right: 22px;
  }
  /*---------- forside om mig --------- */
  .about_me {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.2fr 0.8fr;
        grid-template-columns: 1.2fr 0.8fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
        grid-template-areas: "col_left_about col_right_about";
    width: 100%;
    height: 100%;
    padding: 15% 0 200px 0;
  }
  .col_left_about {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: col_left_about;
    padding: 0px 80px 0px 150px;
  }
  .col_right_about {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: col_right_about;
  }
  .about_article {
    padding-top: 18px;
    padding-bottom: 13px;
  }
  .background_article {
    width: 315px;
    padding: 12px 0 12px 0;
  }
  .background_link {
    font-size: 20px;
  }
  .p_info {
    word-spacing: 2px;
  }
  /*---------- Skills - forside --------- */
  .my_skills {
    padding: 100px 0 100px 0;
    padding-left: 70px;
    padding-right: 70px;
  }
  .h2_my_skills {
    padding-top: 20px;
  }
  .skills_wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .skills_part {
    width: 25%;
  }
  .h3_skills_part {
    text-align: center;
  }
  .p_skills {
    margin: 10px 0px 0px 0px;
    word-spacing: 2px;
  }
  /*---------- kontakt - forside --------- */
  .article_contact_me {
    width: 78%;
  }
  .h2_contact_me {
    padding-top: 40px;
    padding-bottom: 15px;
  }
  .contact_button {
    padding-top: 25px;
    padding-bottom: 30px;
  }
  .contact_me_button {
    font-size: 18px;
    padding: 5px;
  }
  /*---------- Baggrund - underside --------- */
  .h1_background {
    font-size: 40px;
    padding-left: 9%;
  }
  .background_info_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 20px 0 20px;
  }
  .background_line {
    display: none;
  }
  .background_line_v {
    border-left: 2px solid #C4C4C4;
    border-right: 2px solid #C4C4C4;
    height: 750px;
    margin-top: 40px;
  }
}
/*# sourceMappingURL=style.css.map */