/*---------- Sass Variabler ----------*/
$primary_black: #000000;
$primary_white: #ffffff;
$primary_dark_gray: #444444;
$primary_light_gray: #C4C4C4;
$primary_blue: #0040C1;
$secondary_blue: #316feb;
/*-----*/
/*---------- fonts ----------*/
$primary_font: "Abel", sans-serif;
$secondary_font: "Lora", serif;
/*-----*/
/*---------- general --------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

h1{
    color: $primary_blue;
    font-size: 28px;
    text-align: center;
    font: $secondary_font;
}

h2{
    color: $primary_blue;
    font-size: 22px;
    font: $primary_font;
}

h3{
    color: $primary_white;
    font-size: 20px;
    font: $primary_font;
}

p{
    color: $primary_white;
    font-size: 16px;
    font: $primary_font;
    line-height: 22px;
}

a{
    font: $primary_font;
}

main{
    background-color: $primary_black;
}

.black_boks{
    border: 1px solid $primary_white;
    border-radius: 5px;
    background-color: $primary_white;
}

.white_boks{
    border: 1px solid $primary_black;
    border-radius: 5px;
    background-color: $primary_white;
}
//Vandret linje
.line_horizontal{
    height: 2px;
    background-color: $primary_light_gray;
    width: 80%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

//til top knap
#myBtn {
    display: none;
    position: fixed;
    bottom: 210px;
    right: 10px;
    z-index: 99;
    font-size: 13px;
    border: none;
    outline: none;
    background-color: $primary_blue;
    color: $primary_white;
    cursor: pointer;
    padding: 12px;
    border-radius: 4px;
}
.linkedin_icon{
    font-size: 2px;
    color: $primary_dark_gray;
}
/*-----*/
/*---------- nav bar --------- */
header{
    background-color: #262626;
}

li{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}

.logo{
    width: 70px;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    display: flex;
    flex-direction: row-reverse;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.hamburger{
    display: block;
    cursor: pointer;
}

.hamburger.active .bar:nth-child(2){
    opacity: 0;
}
.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

.nav-menu{
    position: fixed;
    left: -100%;
    top: 70px;
    /*gap: 0;*/
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
}

.nav-item{
    margin: 16px 0;
}

.nav-menu.active{
    left: 0;
}

.nav-link{
    font-size: 17px;
}

/*-----*/
/*---------- forside information --------- */

.cv_img{
    height: 60px;
    position: fixed;
    margin: 5px;
}

.h2_front_page{
    text-align: center;
    padding-top: 50px;
    color: $primary_white;
    font-size: 16px;
    
}

.col_left{
    padding-top: 8%;
}

.col_right{
    padding-top: 10%;
    padding-bottom: 25%;
}

.h1_front_page{
    padding-top: 40px;
    padding-bottom: 40px;
}

.img_front_info{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
}

.typed-text{
    text-transform: uppercase;
}

.cursor{
    display: inline-block;
    width: 2px;
    background-color: $primary_light_gray;
    margin-left: 0,1rem;
    animation: blink 1s infinite;
}

.cursor.typing {
    animation: none;
}

@keyframes blink{ // dette gør at cursoren blinker
    0% { background-color: $primary_light_gray;} //denne behøves ikke, men jeg beholder den for en god ordens skyld
    49% { background-color: $primary_light_gray;} //så transision ikke er så voldsom
    50% { background-color: transparent; }
    99% { background-color: transparent; } //så transision ikke er så voldsom
    100% { background-color: $primary_light_gray;} //denne behøves ikke, men jeg beholder den for en god ordens skyld
}

  
/*-----*/
/*---------- om mig - forside --------- */
.h2_about_me{
    color: $primary_blue;
    font-size: 25px;
    text-align: center;
    font: $secondary_font;
}

.col_left_about{
    padding: 10% 20px 10% 20px;
}

.p_info{
    padding: 10px 0 10px 0;
}

.about_article{
    padding-top: 15px;
    padding-bottom: 10px;
}

.background_article{
    text-align: center;
    width: 265px;
    padding: 10px 0 10px 0;
    margin: 10px auto 10px auto;
}

.background_link{
    color: $primary_black;
    font-size: 16px;
    cursor: pointer;
    padding: 5px;
}

.qout{
    text-align: center;
}

.the_qout{
    font-size: 20px;
    font-weight: bold;
}

.img_about_me{
    width: 50%;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 50px;
}
  
/*-----*/
/*---------- Baggrund - underside --------- */

.h1_background{
    padding-top: 30px;
    text-transform: uppercase;
}

.h2_bacground{
    text-align: center;
    color: $primary_white;
    padding-top: 40px;
}

.background_info_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.background_type{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px 0 15px 0;
}

.bacground_diploma, .background_year, .background_place{
    color: $primary_light_gray
}


/*-----*/
/*---------- Skills - forside --------- */

.my_skills{
    padding: 10% 0 10% 0;
}

.h2_my_skills{
    text-align: center;
    padding-top: 16px;
    text-transform: uppercase;
}

.skills_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.h3_skills_part{
    padding: 10px 0 10px 0;
}

.skills_part{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 20px 0 15px 0;
}

/*-----*/
/*---------- kontakt - forside --------- */

.contact_me{
    background-color: $primary_light_gray;
    height: 200px;
}

.article_contact_me{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.h2_contact_me{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.p_contact_me{
    color: $primary_black;
    padding-bottom: 10px;
}

.contact_me_button{
    font-size: 16px;
    color: $primary_black;
    cursor: pointer;
    padding: 5px;
}

.contact_button{
    text-align: center;
}
/*-----*/
/*---------- projekter - forside --------- */
    
    .my_projects{
        padding: 50px 20px 50px 20px;
    }

    .h2_projects, .h2_recommendations{
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 10px;
    }

    .h3_semester{
        padding: 40px 0 10px 0;
    }

    .projects{
        margin: 10px 0px 10px 0;
    }

    .project_img{
        width: 100%;
        background-color: $primary_light_gray;
    }

    .projects_mobile{
        padding: 20px;
        width: 225px;
        background-color: $primary_light_gray;
    }

/*-----*/
/*---------- anbefaling - forside --------- */
    .h2_recommendations{
        padding-bottom: 20px;
    }

    .recommendations{
        padding: 50px 20px 50px 20px;
    }

    .recommendation{
        background-color: $primary_light_gray;
    }

    .recommendation_wrapper{
        padding: 15px;
    }

    .h3_recommendation, .p_recommendation_text, .p_recommendation_employer{
        color: $primary_black;
    }

    .h3_recommendation{
        padding-bottom: 15px;
    }

    .p_recommendation_employer{
        padding-top: 15px;
    }

    .recommendation_footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .shell_logo{
        height: 75px;
    }

    /* ----- om projekterne ----- */
    .about_project{
        padding: 80px 20px;
    }

    .h1_about_project{
        text-transform: uppercase;
    }

    .h2_about_project{
        text-align: center;
        color: $primary_white;
    }

    .img_abot_project{
        width: 370px;
    }

    .col_right_about_project{
        padding: 20px;
    }

    .h3_about_project{
        padding: 20px 0 5px 0;
    }

    .h3_about_project_center{
        padding: 40px 0 20px 0;
        text-align: center;
    }

    .button_about_project{
        text-align: center;
        width: 265px;
        padding: 10px 0 50px 0;
        margin: 10px auto 10px auto;
    }

    .photos_about_project{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .about_project_button{
        color: $primary_black;
        font-size: 16px;
        cursor: pointer;
        padding: 10px;
    }

    .about_project_container{
        margin-top: 20px;
        overflow: hidden;
    }

    .img_phone_abot_project{
        width: 180px;
    }

    .img_pc_abot_project{
        width: 100%;
    }

    .img_abot_project_phone{
        height: 440px;
        padding-left: 85px;
        padding-top: 30px;
    }

    .project_center_space{
        padding: 0 5px;
    }

/*-----*/
/*---------- fotter --------- */
    .footer{
        background-color: $primary_dark_gray;
    }

    .footer_section{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 20px;
    }

    .some, .footer_contact{
        padding: 10px;
    }

    .p_some, .p_mail, .p_telephone{
        font-size: 16px;
    }

    .ln{
        color: $secondary_blue;
        font-size: 20px;
        padding: 10px;
        font-weight: bold;
    }

    .copyright{
        text-align: center;
        font-size: 12px;
        padding-top: 20px;
    }


/* ----------------------------------------------------------------- */
/* ---------------------- mediaquery tablet ------------------------ */
@media screen and (min-width: 672px) and (max-width: 950px) {
    /* ------------------------------------------------- */
    
    /*--Generalt---*/
    h1{
        font-size: 30px;
    }

    h2{
        font-size: 23px;
    }

    h3{
        font-size: 22px;
    }

    p{
        font-size: 18px;
    }

    //til top knap
    #myBtn {
        display: none;
        position: fixed;
        bottom: 158px;
        right: 10px;
        z-index: 99;
        font-size: 15px;
        border: none;
        outline: none;
        background-color: $primary_blue;
        color: $primary_white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
    }

    /*--heder info ---*/
    
    .nav-link{
        font-size: 20px;
    }


    /*--om mig + mine skills---*/

    .h2_about_me{
        color: $primary_blue;
        font-size: 30px;
        font: $secondary_font;
        padding-bottom: 10px;
    }

    .h2_front_page{
        font-size: 18px;
    }

    .about_article, .my_skills{
        padding: 15px 30px 10px 30px;
    }

    .background_article{
       width: 310px;
       padding: 10px 0 10px 0;
    }

    .my_skills{
        padding: 10% 0 10% 0;
    }

    /*--kontakt mig---*/
    .contact_me{
        height: 170px;
        padding: 2% 0 2% 0;
    }

    .contact_button{
        padding-top: 10px;
    }

    .article_contact_me{
        width: 83%;
    }

    /*--projekter---*/
    .my_projects{
        padding: 100px 66px;
    }

    .projects{
        margin: 10px 40px;
    }

    .projects{
        margin: 10px 0px 10px 0;
    }

    //test
    .my_projects_container{
        margin-top: 20px;
        overflow: hidden;
    }

    .project_img{
        width: 49%;
        background-color: $primary_light_gray;
    }

    /*--anbefaling---*/
    .recommendations{
         padding: 50px 70px;
    }

    /*--Om projekterne---*/
    .img_abot_project {
        width: 420px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .col_right_about_project{
        padding: 20px 45px;
    }

    .h3_about_project {
        padding: 40px 0 5px 0;
    }

    .photos_about_project{
        padding: 20px 45px;
    }

    .img_phone_abot_project{
        width: 210px;
    }

    .img_abot_project_phone{
        height: 450px;
        padding-left: 36%;
        padding-top: 30px;
    }

    .project_center_space{
        padding: 0 40px;
    }

    /*--footer---*/
    .footer_section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 10% ;
    }
    .some, .footer_contact {
        padding: 25px;
    }

}

/* ----------------------------------------------------------------- */
/* ---------------------- mediaquery ipad pro ----------------------- */
@media screen and(min-width: 951px) and (max-width: 1366px) {

    /*--Generalt---*/
    h1{
        font-size: 32px;
    }

    h2{
        font-size: 25px;
    }

    h3{
        font-size: 24px;
    }

    p{
        font-size: 20px;
    }

    //til top knap
    #myBtn {
        display: none;
        position: fixed;
        bottom: 170px;
        right: 10px;
        z-index: 99;
        font-size: 17px;
        border: none;
        outline: none;
        background-color: $primary_blue;
        color: $primary_white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
    }

    /*--Burgermenu---*/
    .nav-menu{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        gap: 60px;
        position: inherit;
        padding-left: 52%;
    }

    .navbar{
        display: flex;
        flex-direction: unset;
        font-size: 25px;
    }

    .nav-link{ /*Hover effect*/
        transition: 0.7s ease;
        font-size: 20px;
    }

    .nav-link:hover{ /*Hover effect*/
        color: blue;
    }

    .hamburger{
        display: none;
    }

    .logo{
        width: 80px;
    }

    .cv_img{
        height: 75px;
    }
    
    /*---------- forside information --------- */
    .front_info {
        display: grid;
        grid-template-columns: 1.1fr 0.9fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:"col_left col_right";
        width: 100%;
        height: 100%;
    }
    .col_left { 
        grid-area: col_left; 
        padding-top: 350px;
    }
    .col_right { 
        grid-area: col_right; 
    }

    .h2_front_page{
        font-size: 20px;
    }

    .img_front_info{
       width: 90%; 
       padding-top: 300px;
       padding-bottom: 600px;
    }

    /*---------- forside om mig --------- */

    .h2_about_me{
        color: $primary_blue;
        font-size: 35px;
        font: $secondary_font;
        padding-bottom: 10px;
    }

    .about_me {
        display: grid;
        grid-template-columns: 1.2fr 0.8fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "col_left_about col_right_about";
        width: 100%;
        height: 100%;
        padding: 50px 0 50px 0;
    }
    .col_left_about { 
        grid-area: col_left_about; 
        padding: 20px 40px 20px 70px;
    }
    .col_right_about { 
        grid-area: col_right_about; 
    }

    .about_article{
        padding-top: 18px;
        padding-bottom: 13px;
    }

    .background_article{
        width: 315px;
        padding: 12px 0 12px 0;
    }

    .background_link{
        font-size: 20px;
    }

    .img_about_me{
        width: 95%;
        display: flex;
        margin-right: auto;
        margin-left: auto;
        padding-top: 59px;
    }

    /*---------- Skills - forside --------- */

    .my_skills{
        //padding: 50px 0 50px 0;
        padding: 100px 70px 100px 70px;
    }

    .h2_my_skills{
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .skills_wrapper{
        flex-direction: row;
    }

    .skills_part{
        width: 25%;
    }

    .h3_skills_part{
        text-align: center;
    }

    /*---------- kontakt - forside --------- */
    
    .article_contact_me{
        width: 85%;
    }

    .h2_contact_me{
        padding-top: 30px;
        padding-bottom: 15px;
    }

    .contact_button{
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .contact_me_button{
        font-size: 17px;
        padding: 8px;
    }

    /*---------- Baggrund - underside --------- */
    
    .background_info{
        padding: 100px 0 132px 0;
    }

    .h1_background{
        padding-left: 13%;
        padding-bottom: 40px;
    }
    
    .background_info_wrapper{
        display: flex;
        flex-direction: row;
        padding: 0 20px 0 20px;
    }

    .background_line{
        display: none;
    }

    .background_line_v{
        border-left: 2px solid $primary_light_gray;
        border-right: 2px solid $primary_light_gray;
        height: 750px;
        margin-top: 40px;
    }

    /*--projekter- forside --*/
    .my_projects{
        padding: 100px 120px;
    }

    .projects{
        margin: 10px 40px;
    }

    .project_img{
        width: 49%;
    }

    .projects_mobile{
        padding: 20px;
        width: 260px;
        background-color: $primary_light_gray;
    }

    /*--anbefaling- forside--*/
    .recommendations{
         padding: 100px 80px;
    }

    .recommendation_wrapper{
        padding: 30px;
    }

     /*--om projekterne---*/

    .img_abot_project {
        width: 445px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .col_right_about_project{
        padding: 50px 65px;
    }

    .h3_about_project {
        padding: 40px 0 5px 0;
    }
    .h3_about_project_center {
        padding: 80px 0 30px 0;
    }

    .photos_about_project{
        padding: 20px 45px;
    }

    .img_phone_abot_project{
        width: 270px;
    }

    .about_project_button{
        font-size: 20px;
    }

    .img_abot_project_phone{
        height: 540px;
        padding-left: 36%;
        padding-top: 50px;
    }

    .project_center_space{
        padding: 0 80px;
    }

    /*--footer---*/
    .footer_section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 10% ;
    }

    .some, .footer_contact {
        padding: 25px;
    }

    .p_some, .p_mail, .p_telephone {
        font-size: 18px;
    }

}

/* ---------------------- mediaquery desktop ----------------------- */
@media screen and(min-width: 1367px) {

    /*--Generalt---*/
    h1{
        font-size: 50px;
    }

    h2{
        font-size: 27px;
    }

    h3{
        font-size: 26px;
    }

    p{
        font-size: 23px;
    }

    //til top knap
    #myBtn {
        display: none;
        position: fixed;
        bottom: 170px;
        right: 10px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: $primary_blue;
        color: $primary_white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
    }

    /*--Burgermenu---*/
    .nav-menu{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        gap: 60px;
        position: inherit;
        padding-left: 50%;
    }

    .navbar{
        display: flex;
        flex-direction: unset;
        font-size: 27px;
    }

    .nav-link{ /*Hover effect*/
        transition: 0.7s ease;
        font-size: 25px;
    }

    .nav-link:hover{ /*Hover effect*/
        color: blue;
    }

    .hamburger{
        display: none;
    }

    .logo{
        width: 100px;
    }

    .cv_img{
        height: 100px;
    }

    
    /*---------- forside information --------- */
    .front_info {
        display: grid;
        grid-template-columns: 1.2fr 0.8fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:"col_left col_right";
        width: 100%;
        height: 100%;
    }
    .col_left { 
        grid-area: col_left; 
        padding-top: 400px;
    }
    .col_right { 
        grid-area: col_right; 
    }

    .h2_front_page{
        font-size: 22px;
    }

    .img_front_info{
       width: 90%; 
       padding-top: 300px;
       padding-bottom: 600px;
       padding-right: 22px;
    }

    /*---------- forside om mig --------- */

    .h2_about_me{
        color: $primary_blue;
        font-size: 35px;
        font: $secondary_font;
        padding-bottom: 10px;
    }
    
    .about_me {
        display: grid;
        grid-template-columns: 1.2fr 0.8fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas: "col_left_about col_right_about";
        width: 100%;
        height: 100%;
        padding: 15% 0 200px 0;
    }
    .col_left_about { 
        grid-area: col_left_about; 
        padding: 0px 80px 0px 150px;
    }
    .col_right_about { 
        grid-area: col_right_about; 
    }

    .about_article{
        padding-top: 18px;
        padding-bottom: 13px;
    }

    .background_article{
        width: 315px;
        padding: 12px 0 12px 0;
    }

    .background_link{
        font-size: 20px;
    }

    .p_info{
        word-spacing: 2px
    }

    .img_about_me{
        width: 95%;
        display: flex;
        margin-right: auto;
        margin-left: auto;
        padding-top: 0px;
    }

    /*---------- Skills - forside --------- */

    .my_skills{
        padding: 100px 0 100px 0;
        padding-left: 70px;
        padding-right: 70px;
    }

    .h2_my_skills{
        padding-top: 20px;
    }

    .skills_wrapper{
        flex-direction: row;
    }

    .skills_part{
        width: 25%;
    }

    .h3_skills_part{
        text-align: center;
    }

    .p_skills{
        margin: 10px 0px 0px 0px;
        word-spacing: 2px;
    }

    /*---------- kontakt - forside --------- */
    .article_contact_me{
        width: 78%;
    }

    .h2_contact_me{
        padding-top: 40px;
        padding-bottom: 15px;
    }

    .contact_button{
        padding-top: 25px;
        padding-bottom: 30px;
    }

    .contact_me_button{
        font-size: 18px;
        padding: 5px;

    }

    /*---------- Baggrund - underside --------- */

    .background_info{
        padding: 100px 0 132px 0;
    }

    .h1_background{
        font-size: 40px;
        padding-left: 11%;
        padding-bottom: 30px;
    }

    .background_info_wrapper{
        display: flex;
        flex-direction: row;
        padding: 0 20px 0 20px;
    }

    .background_line{
        display: none;
    }

    .background_line_v{
        border-left: 2px solid $primary_light_gray;
        border-right: 2px solid $primary_light_gray;
        height: 750px;
        margin-top: 40px;
    }

     /*--projekter- forside --*/
    
    .my_projects{
        padding: 100px 10%;
    }

    .projects{
        margin: 15px;
        width: auto;
    }

    .project_img{
        width: 49%;
    }

    .projects_mobile{
        padding: 20px;
        width: 300px;
        background-color: $primary_light_gray;
    }

    /* -- om projekterne */

    .about_project_description {
        display: grid;
        grid-template-columns: 1.1fr 0.9fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "col_left_abot_project col_right_about_project";
        width: 100%;
        height: 100%;
    }
      
    .col_left_about_project { 
        grid-area: col_left_abot_project; 
    }
      
    .col_right_about_project { 
        grid-area: col_right_about_project; 
    }

    .photos_about_project {
        display: grid;
        grid-template-columns: 1.1fr 0.9fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "col_left_telephone col_right_pc";
        width: 100%;
        height: 100%;
    }
      
    .col_left_telephone { 
        grid-area: col_left_telephone; 
    }
      
    .col_right_pc { 
        grid-area: col_right_pc; 
    }

    .img_abot_project {
        width: 770px;
        padding-top: 8%;
        padding-left: 10%;
        margin-left: auto;
        margin-right: auto;
    }

    .col_right_about_project{
        padding: 50px 65px;
    }

    .h3_about_project {
        padding: 45px 0 18px 0;
    }
    .h3_about_project_center {
        padding: 80px 0 30px 0;
    }

    .photos_about_project{
        padding: 20px 40px;
    }

    .img_phone_abot_project{
        width: 350px;
    }

    .about_project_button{
        font-size: 20px;
    }

    .button_about_project{
        padding: 10px 0 100px 0;
    }

    .about_project_line_v{
        border-right: 2px solid $primary_light_gray;
        height: 750px;
        margin-top: 40px;
    }

    .img_abot_project_phone{
        height: 640px;
        padding-left: 32%;
        padding-top: 100px;
    }

    .project_center_space{
        padding: 0 80px;
    }

    /*--anbefaling- forside--*/
    .recommendations{
        padding: 100px 160px;
    }

    .recommendation_wrapper{
       padding: 30px;
    }

    /*--footer---*/
    .footer_section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 10% ;
    }

    .some, .footer_contact {
        padding: 25px;
    }

    .p_some, .p_mail, .p_telephone {
        font-size: 18px;
    }
}