/*---------- Sass Variabler ----------*/
/*-----*/
/*---------- fonts ----------*/
/*-----*/
/*---------- general --------- */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

h1 {
  color: #0040C1;
  font-size: 28px;
  text-align: center;
  font: "Lora", serif;
}

h2 {
  color: #ffffff;
  font-size: 20px;
  font: "Abel", sans-serif;
}

p {
  color: #ffffff;
  font-size: 16px;
  font: "Abel", sans-serif;
  line-height: 22px;
}

main {
  background-color: #000000;
}

.black_boks {
  border: 1px solid #ffffff;
}

/*-----*/
/*---------- nav bar --------- */
/*-----*/
/*---------- forside information --------- */
.cv_img {
  height: 60px;
  position: fixed;
  margin: 5px;
}

.h2_front_page {
  text-align: center;
  padding-top: 50px;
}

.h1_front_page {
  padding-top: 40px;
  padding-bottom: 40px;
}

.img_front_info {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*-----*/
/*---------- om mig --------- */
.col_left_about {
  padding: 20px;
}

.p_info {
  padding: 10px 0 10px 0;
}

.about_article {
  padding-top: 15px;
  padding-bottom: 10px;
}

.background_article {
  text-align: center;
  width: 265px;
  margin-right: auto;
  margin-left: auto;
}

.background_link {
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  padding: 5px;
}

.qout {
  text-align: center;
}

.the_qout {
  font-size: 20px;
  font-weight: bold;
}

/*-----*/
/*---------- min baggrund - underside --------- */
/*-----*/
/*---------- kompetancer --------- */
/*-----*/
/*---------- projekter --------- */
/*-----*/
/*---------- anbefaling --------- */
/*-----*/
/*---------- fotter --------- */
/* ----------------------------------------------------------------- */
/* ---------------------- mediaquery tablet ------------------------ */
@media screen and (min-width: 672px) and (max-width: 950px) {
  /* ------------------------------------------------- */
}

/* ----------------------------------------------------------------- */
/* ---------------------- mediaquery desktop ----------------------- */
@media screen and (min-width: 951px) {
  /*-----*/
  /*---------- forside information --------- */
  .front_info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.2fr 0.8fr;
        grid-template-columns: 1.2fr 0.8fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
        grid-template-areas: "col_left col_right";
    width: 100%;
    height: 100%;
  }
  .col_left {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: col_left;
  }
  .col_right {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: col_right;
  }
  /*---------- forside om mig --------- */
  .about_me {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.2fr 0.8fr;
        grid-template-columns: 1.2fr 0.8fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
        grid-template-areas: "col_left_about col_right_about";
    width: 100%;
    height: 100%;
  }
  .col_left_about {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: col_left_about;
  }
  .col_right_about {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: col_right_about;
  }
}
/*# sourceMappingURL=style.css.map */